/*Dia 9*/

h3 {
    color:black
}

.Dia9 {
  margin: 0;
  height: 70vh;
  background: #0b1f41;
}

/* Contenedor */
.snow span {
  position: absolute;
  top: -10px;
  width: 10px;
  height: 10px;
  background: rgb(255, 255, 255);
  border-radius: 50%;
  animation: fall linear infinite;
}

/* Animación */
@keyframes fall {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(110vh);
    opacity: 0.3;
  }
}

/* Copos individuales */
.snow span:nth-child(1) {
  left: 10%;
  width: 6px;
  height: 6px;
  animation-duration: 6s;
}

.snow span:nth-child(2) {
  left: 25%;
  width: 6px;
  height: 6px;
  animation-duration: 8s;
}

.snow span:nth-child(3) {
  left: 40%;
  width: 6px;
  height: 6px;
  animation-duration: 7s;
}

.snow span:nth-child(4) {
  left: 55%;
  width: 6px;
  height: 6px;
  animation-duration: 9s;
}

.snow span:nth-child(5) {
  left: 65%;
  width: 6px;
  height: 6px;
  animation-duration: 5s;
}

.snow span:nth-child(6) {
  left: 75%;
  width: 6px;
  height: 6px;
  animation-duration: 10s;
}

.snow span:nth-child(7) {
  left: 85%;
  width: 6px;
  height: 6px;
  animation-duration: 6.5s;
}

.snow span:nth-child(8) {
  left: 95%;
  width: 6px;
  height: 6px;
  animation-duration: 8.5s;
}

/*Dia 10*/

.Dia10 {
    background-color: rgb(194, 42, 42);
    width: 10%;
    padding-bottom: 30px;
    border: 3px solid rgb(255, 221, 0);
    position: relative;
}

span {
    background-color: green;
    border-radius: 100%;
    padding: 5px;
    position: absolute;
    top: -10px;
    right: -10px;
}

/*Dia 11*/

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    grid-template-rows: repeat(2, 1fr); 
    width: 300px;
    height: 200px;
    background-color: #384551;
    padding: 8px; 
    gap: 8px;
    
}

.grid-item {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
}

/*Dia 12*/

.Dia12 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap:350px;
    background-color: rgb(53, 168, 53);
    color:white;
    width: 90%;
    padding: 10px;
    cursor: pointer;
}

.Dia12 a:hover {
    background-color: rgba(250, 235, 215, 0.29);
    
    
}

/*Dia 13*/

.uno {
    color:black;
    font-size: 20px;
    
}

.Dia13 p {
    color:white
}

.Dia13{
    background-color: rgb(255, 221, 0);
    text-align: center;
    padding: 30px;
}

@media (max-width: 600px) {
    .Dia13 {
        background-color: #3AAFA9; 
}
}

/*Dia 14*/
.contenedor-principal {
    width: 300px;
    background-color: white;
    border: 3px solid #cc0000; 
    display: flex;
}



.boton-cambiar-color {
    background-color: #cc0000;
    color: white; 
    margin-top: 50px;
    margin-bottom: 20px;
    margin-left: 20px;

}


.boton-cambiar-color:hover {
    background-color: green;
}

/*Dia 15*/


.transition:hover p{
  width: 200px;
}

.transition p{
  margin: 0;
  width: 50px;
  transition: width 0.6s ease;
}

.hola {
  background-color: yellow;
  padding: 10px;
}

.navidad {
  background-color: red;
  padding: 10px;
}

/*Dia 16*/

table {
    width: 80%;
    font-family: Arial, sans-serif;
    margin: 20px auto;
    border-collapse: collapse;
    
}

thead th {
    background-color: #27ae60;
    color: white;
    text-align: left;
    padding: 12px;
}

td {
    padding: 10px;
    border: 1px solid #818080;
}



/* Filas PARES*/
tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

/* Filas IMPARES*/
tbody tr:nth-child(odd) {
    background-color: #ffffff;
}

/*Dia 17*/

.copo {
    /* Esta es la línea central */
    width: 3px;
    height: 40px;
    background-color: blue;
    margin: 100px auto;
    position: relative;
    border-radius: 2px; /* Puntas redondeadas*/
    transform: rotate(90deg);
}

.copo::before, .copo::after {
    content: "";
    position: absolute;
    width: 3px;
    height: 40px;
    background-color: blue;
    border-radius: 2px;
}

/* Las otras dos líneas */
.copo::before {
    transform: rotate(50deg);
}

.copo::after {
    transform: rotate(-50deg);
}

/*Dia 18*/
.imagen18 {
  filter: grayscale(50%) blur(1px);
}

/*Dia 19*/
.imagen19 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  max-width: 400px;
}

.imagen191 {
  grid-column: span 2; 
}

.imagen19 img {
  width: 90%;
  height: 90%;
}

/*Dia 20*/

.santa {
  width: 300px;
  height: 150px;
  background-color: red;
  color: black; 
  padding: 15px;
  border: 2px solid darkred; 
  overflow: auto; 
}

/*Dia 21*/

.bolamagic {
  width: 70px;
  transform: 0.5s ease;
}

.bolamagic:hover{
  transform: scale(1) rotate(70deg);
}

/*Dia 22*/

.formulario-navideno {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-family: Arial, sans-serif;
}

input {
  outline: none; /* Quitamos el borde azul por defecto del navegador */
}

.formulario-navideno input:focus {
  border: 1.5px solid #2195ac;
}

button {
  cursor: pointer;
  width: fit-content;
}

/*Dia 23*/
.parallax {
  /* La imagen de fondo */
  background-image: url('vintage-red-christmas-tree-snowflake-christmas-festival-powerpoint-background_35ea106e9b__960_540.avif');
  height: 300px;
  width: 100%;
  background-size: cover;
  /*Fija la imagen al fondo*/
  background-attachment: fixed;
}

.texto-central {
  color: white;
  text-align: center;
  padding: 80px;
}

.contenido-normal {
    font-size: 7px;
}

/*Dia 24*/


/*Dia 25*/
.dia25 h1{
  color: orangered;
  text-shadow: 
        2px 2px 0px #b4ff04, 
        3px 4px 0px #757575;
}

.dia25 p{
  opacity: 0;
}

.dia25 p:hover{
  opacity: 1;
}
/*Dia 26*/
.cohete{
  position: fixed; 
  top: 0;            
  left: 0;           
  width: 100%; 
  background-color: #34495e;
  color: white;
  text-align: center;
  padding: 10px;
  font-family: Arial, sans-serif;
  z-index: 1000;  /* Asegura que esté por encima de todo */
}

/*Dia 27*/
.propositos-form input{
  padding: 5px;
  margin-right: 5px;
  border: 1px solid #848383;
  outline: none;
}

.propositos-form input:invalid {
  border: 1px solid red;
}

.propositos-form input:valid {
  border: 1px solid #2ecc71;
}

/*Dia 28*/
.columna {
  background-color: #3498db;
  color: white;
  padding: 20px;
  text-align: center;
  border: 1px solid #2980b9;
}

.contenedor {
  display: grid;
  grid-template-columns: 1fr; /* Una sola columna que ocupa todo el ancho */
  gap: 10px;                 /* Espacio entre columnas */
}


/* Cuando la pantalla mide más de 768px, cambia a 3 columnas */
@media (min-width: 768px) {
  .contenedor {
    grid-template-columns: 1fr 1fr 1fr;
  }
}