/*Dia 9*/

h3 {
    color:black
}

.Dia9 {
  margin: 0;
  height: 100vh;
  background: #0b1f41;
}

/* Contenedor */
.snow span {
  position: absolute;
  top: -10px;
  width: 10px;
  height: 10px;
  background: rgb(255, 255, 255);
  border-radius: 50%;
  animation: fall linear infinite;
}

/* Animación */
@keyframes fall {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(110vh);
    opacity: 0.3;
  }
}

/* Copos individuales */
.snow span:nth-child(1) {
  left: 10%;
  width: 6px;
  height: 6px;
  animation-duration: 6s;
}

.snow span:nth-child(2) {
  left: 25%;
  width: 6px;
  height: 6px;
  animation-duration: 8s;
}

.snow span:nth-child(3) {
  left: 40%;
  width: 6px;
  height: 6px;
  animation-duration: 7s;
}

.snow span:nth-child(4) {
  left: 55%;
  width: 6px;
  height: 6px;
  animation-duration: 9s;
}

.snow span:nth-child(5) {
  left: 65%;
  width: 6px;
  height: 6px;
  animation-duration: 5s;
}

.snow span:nth-child(6) {
  left: 75%;
  width: 6px;
  height: 6px;
  animation-duration: 10s;
}

.snow span:nth-child(7) {
  left: 85%;
  width: 6px;
  height: 6px;
  animation-duration: 6.5s;
}

.snow span:nth-child(8) {
  left: 95%;
  width: 6px;
  height: 6px;
  animation-duration: 8.5s;
}

/*Dia 10*/

.Dia10 {
    background-color: rgb(194, 42, 42);
    width: 10%;
    padding-bottom: 30px;
    border: 3px solid rgb(255, 221, 0);
    position: relative;
}

span {
    background-color: green;
    border-radius: 100%;
    padding: 5px;
    position: absolute;
    top: -10px;
    right: -10px;
}

/*Dia 11*/

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    grid-template-rows: repeat(2, 1fr); 
    width: 300px;
    height: 200px;
    background-color: #384551;
    padding: 8px; 
    gap: 8px;
    
}

.grid-item {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
}

/*Dia 12*/

.Dia12 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap:350px;
    background-color: rgb(53, 168, 53);
    color:white;
    width: 90%;
    padding-left: 50px;
    padding-right: 50px;
    padding: 10px;
    cursor: pointer;
}

.Dia12 a:hover {
    background-color: rgba(250, 235, 215, 0.29);
    
}

/*Dia 13*/

.uno {
    color:black;
    font-size: 20px;
    
}

.Dia13 p {
    color:white
}

.Dia13{
    background-color: rgb(255, 221, 0);
    text-align: center;
    padding: 30px;
}

@media (max-width: 600px) {
    .Dia13 {
        background-color: #3AAFA9; 
}
}

/*Dia 14*/
.contenedor-principal {
    width: 300px;
    background-color: white;
    border: 3px solid #cc0000; 
    display: flex;
}



.boton-cambiar-color {
    background-color: #cc0000;
    color: white; 
    margin-top: 50px;
    margin-bottom: 20px;
    margin-left: 20px;

}


.boton-cambiar-color:hover {
    background-color: green;
}